<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petwebapplication.mappers.PetServiceRecordMapper">

    <resultMap id="BaseResultMap" type="com.example.petwebapplication.entities.PetServiceRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="service_date" jdbcType="TIMESTAMP" property="serviceDate"/>
        <result column="provider_name" jdbcType="VARCHAR" property="providerName"/>
        <result column="details" jdbcType="VARCHAR" property="details"/>
        <result column="cost" jdbcType="DECIMAL" property="cost"/>
        <association property="pet" javaType="com.example.petwebapplication.entities.Pet"
                     select="com.example.petwebapplication.mappers.PetMapper.selectPetById" column="pet_id"/>
    </resultMap>

    <select id="selectPetById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT * FROM pet WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertRecord" parameterType="com.example.petwebapplication.entities.PetServiceRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pet_service_record (pet_id, service_name, service_date, provider_name, details, cost)
        VALUES (#{pet.id,jdbcType=BIGINT}, #{serviceName,jdbcType=VARCHAR}, #{serviceDate,jdbcType=TIMESTAMP},
                #{providerName,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL})
    </insert>

    <update id="updateRecord" parameterType="com.example.petwebapplication.entities.PetServiceRecord">
        UPDATE pet_service_record
        SET pet_id = #{pet.id,jdbcType=BIGINT},
            service_name = #{serviceName,jdbcType=VARCHAR},
            service_date = #{serviceDate,jdbcType=TIMESTAMP},
            provider_name = #{providerName,jdbcType=VARCHAR},
            details = #{details,jdbcType=VARCHAR},
            cost = #{cost,jdbcType=DECIMAL}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteRecordById" parameterType="java.lang.Long">
        DELETE FROM pet_service_record WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="selectRecordById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM pet_service_record WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM pet_service_record
    </select>

    <select id="selectPetServiceRecordsByPetId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM pet_service_record WHERE pet_id = #{pet.id,jdbcType=BIGINT}
    </select>

</mapper>
