<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petwebapplication.mappers.PetServiceRecordMapper">

    <!-- Define the result map for Pet entity -->
    <resultMap id="petResultMap" type="com.example.petwebapplication.entities.PetServiceRecord">
        <id column="id" property="id" />
        <result column="pet_name" property="petName" />
        <result column="image_url" property="imageURL" />
        <result column="age" property="age" />
    </resultMap>

    <!-- Select all pets -->
    <select id="findAll" resultMap="petResultMap">
        SELECT * FROM PET
    </select>

    <!-- Select a pet by id -->
    <select id="findById" parameterType="long" resultMap="petResultMap">
        SELECT * FROM PET WHERE id = #{id}
    </select>

    <!-- Delete a pet by id -->
    <delete id="deletePetById" parameterType="long">
        DELETE FROM PET WHERE id = #{id}
    </delete>

    <!-- Update a pet's information -->
    <update id="updatePet" parameterType="com.example.petwebapplication.entities.Pet">
        UPDATE PET SET pet_name = #{petName}, age = #{age}, image_url = #{imageURL} WHERE id = #{id}
    </update>

</mapper>
