<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petwebapplication.mapper.PetMapper">

    <resultMap id="PetResultMap" type="com.example.petwebapplication.entities.Pet">
        <id property="id" column="id"/>
        <result property="petName" column="pet_name"/>
        <result property="age" column="age"/>
        <association property="petType" column="pet_type_id"
                     javaType="com.example.petwebapplication.entities.PetType"/>
    </resultMap>

    <select id="selectPetById" resultMap="PetResultMap">
        SELECT * FROM pet WHERE id = #{id}
    </select>

    <select id="selectAllPets" resultMap="PetResultMap">
        SELECT * FROM pet
    </select>

    <insert id="insertPet">
        INSERT INTO pet (pet_name, age, pet_type_id) VALUES (#{petName}, #{age}, #{petType.id})
    </insert>

    <update id="updatePet">
        UPDATE pet SET pet_name = #{petName}, age = #{age}, pet_type_id = #{petType.id} WHERE id = #{id}
    </update>

    <delete id="deletePet">
        DELETE FROM pet WHERE id = #{id}
    </delete>

</mapper>
