
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use full height of the viewport */
}

.form-group {
    width: 100%;
    margin-bottom: 3px; /* Space between groups */
    flex-direction: column; /* Stack the label and input */
}


.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* This will push the button to the right */
    gap: 5px; /* Adjust the value as needed */
}



.output-label {
    font-size: 12px;
    display: block; /* Ensures the label takes up the full width */
    margin-bottom: 1px; /* Adds some space between the label and the input box */
    font-weight: bold; /* Makes the label text bold */
    color: #333; /* Sets the text color of the label */
}


.input-box {
    display: block; /* Ensures the label takes up the full width */
    width: 100%; /* Takes up all available width */
    border: 2px solid #008000; /* A nice shade of green */
    border-radius: 4px; /* Optional: Rounds the corners of the input box */
    padding: 5px 10px; /* Optional: Adds some space inside the input box */
    margin-bottom: 10px; /* Optional: Adds some space below each input box */
}


.service-item {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-item h2 {
    margin-top: 0;
    color: #333;
}

.service-item p {
    margin: 10px 0;
    line-height: 1.5;
}


.button {

    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.delete-button {
    background-color: #e64540;
    border: 1px solid #e64540;
}

.back-button {
    background-color: #e0cbd6;
    border: #CBD5E0;
    color: black !important;
}

.common-button {
    background-color: #0095ff;;
    border: #0095ff;
    color: white !important;
}

.add-button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
}


.delete-button-card{

    position: absolute;
    right: 20px;/* Distance from the right edge of the service-item container */
    bottom: 20px; /* Distance from the bottom edge of the service-item container */
    background-color: #e64540;  /* Your desired color */
    border: 1px solid #e64540;
}


@media (min-width: 768px) {
    .add-button {
        padding: 10px 30px;
    }
}

.select-menu {
    appearance: none; /* Remove default arrow */

    height: 50px;
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


